@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .page {
    @apply p-5 md:px-8;
  }

  .title {
    @apply text-2xl md:text-3xl font-bold text-gray-900 mb-2;
  }

  .subtitle {
    @apply text-lg font-semibold md:text-xl;
  }

  .button {
    @apply border shadow rounded-md p-2 hover:shadow-lg transition;
  }
}
