@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .page {
    @apply p-5 md:p-7 lg:px-10;
  }

  .header-link {
    @apply text-lg relative text-gray-700 hover:text-green-600 transition flex items-center gap-2;
  }
}
