@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-dark: #242424;
  --color-primary: #000000;
  --color-secondary: #e7e0ea;
  --color-tw-blue: #1d9bf0;
  --color-tw-gray: #2d3336;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .input {
    @apply bg-secondary text-black rounded mt-1 p-2 outline-none shadow-lg focus:shadow-[gray] w-full;
  }

  .submit-button {
    @apply bg-secondary font-bold h-9 px-5 py-1.5 rounded-full text-primary tracking-wide hover:brightness-75 min-w-[100px] flex items-center justify-center transition cursor-pointer disabled:brightness-90 disabled:cursor-not-allowed;
  }

  .form-icon {
    @apply hover:bg-tw-blue/20 rounded-full size-8 grid place-items-center transition;
  }
}
